* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, '微軟正黑體';
    text-decoration: none;
}

header {
    position: relative;
    background-image: url(/img/main.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    height: 100vh;

    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: whitesmoke;
    }
}


.burger-menu {
    position: relative;
    padding: 0.7rem 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.burger-btn {
    display: none;
}

.burger-line {
    display: block;
    position: relative;
    height: 2px;
    width: 20px;
    background: whitesmoke;
    border-radius: 4px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: whitesmoke;
    }

    &::before {
        transform: translateY(-5px);
    }

    &::after {
        transform: translateY(5px);
    }
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(109, 109, 109, 0.342);
    height: 5rem;
    width: 90vw;
    padding: 0 5vw;
    z-index: 1;
    transition: background-color 0.5s;

    .nav-logo {
        display: flex;

        a {
            align-self: center;
            color: whitesmoke;
            font-size: larger;

            &:hover {
                color: rgb(65, 255, 246);
                transition: all 0.5s;
            }
        }
    }

    .nav-main {
        display: flex;
        width: 30vw;
        justify-content: space-around;
        align-items: center;
        // border: 1px solid red;

        a {
            color: whitesmoke;
            font-size: larger;
            border-bottom: 2px solid transparent;

            &:hover {
                color: rgb(65, 255, 246);
                transition: all 0.5s;
                border-bottom: 2px solid whitesmoke;
            }
        }
    }

    &.scrolled {
        background: black;
        transition: background 1s;
    }

    @media (max-width: 767px) {
        .nav-main {
            display: none;
        }

        .burger-menu {
            display: block;
        }
    }


}